@import '../../adaptive.css';

header {
  display: flex;
  height: 70px;
  align-items: center;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.nav li {
  color: rgb(141, 0, 228);
}
.nav li:hover {
  background-color: rgb(141, 0, 228);
  color: white;
  border-radius: 40px;
  padding: 7px;
  cursor: pointer;
  transition: all 0.2s;
}
.userB {
  display: flex;
  gap: 5px;
}
