.modalAuth {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 10px;
  background-color: rgb(61, 60, 59);
  border-radius: 10px;
  z-index: 1001;
  min-height: 135px;
}
.echo {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0%;
  left: 0%;
  background-color: black;
  opacity: 0.7;
}
.modalIn {
  width: 70%;
  background-color: yellow;
  color: rgb(141, 0, 228);
  border-radius: 20px;
  padding: 5px;
  font-weight: 300;
  font-size: 14px;
}
