/* Основные стили модального окна (центрирование, фон, отступы) */
.modalAuth {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 10px;
  background-color: rgb(83, 83, 83);
  border-radius: 10px;
  z-index: 1001;
  min-height: 135px;
}
/* Затемнение фона при открытом модальном окне */
.echo {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0%;
  left: 0%;
  background-color: black;
  opacity: 0.7;
}
/* Стили кнопок внутри модального окна */
.modalIn {
  width: 70%;
  background-color: yellow;
  color: rgb(141, 0, 228);
  border-radius: 20px;
  padding: 5px;
  font-weight: 300;
  font-size: 14px;
}
.form-group.error input {
  border: 2px solid #f04040;
  margin: 5px;
}
/* Стили сообщений об ошибках в формах */
.error-message {
  color: red;
  padding: 7px;
  background: #ffe6e6;
  border-radius: 4px;
  font-size: 14px;
  line-height: 14px;
  white-space: nowrap;
  text-align: center;
}
