body {
  padding: 0;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  background-color: #312f2f;
  font-synthesis: none;
  color: white;
  background-image: url('/images/pattern.png');
  background-position: center;
  background-repeat: repeat;
  background-size: 100vh;
  z-index: 1;
}
dialog,
input,
button,
input[type='file'] {
  margin: 0;
  padding: 0;
  appearance: none;
  background: none;
  border: none;
  overflow: hidden;
}
button {
  cursor: pointer;
  background-color: yellow;
  color: rgb(141, 0, 228);
  border-radius: 60px;
  padding: 10px;
}
button:hover {
  background-color: rgb(141, 0, 228);
  color: white;
  transition: all 0.2s;
}
input {
  font-family: inherit;
  text-align: inherit;
  border-radius: 60px;
  height: 20px;
  background-color: white;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
