.profile-container {
  display: flex;
  justify-content: center;
}
.password-toggle {
  position: fixed;
  right: 43.7%;
  background: none;
  padding: 0;
  margin: 0;
}
.password-toggle:hover {
  padding: 3px;
}
