.profileContainer {
  display: flex;
  justify-content: center;
}
.passwordToggleR {
  position: fixed;
  right: 130px;
  background: none;
  padding: 0;
  margin: 0;
}
.passwordToggle:hover {
  padding: 3px;
}
.passwordToggleP {
  position: fixed;
  left: 710px;
  background: none;
  padding: 0;
  margin: 0;
}
