@import '../../adaptive.css';

main {
  max-height: calc(100vh - 140px);
  overflow-y: auto;
  scrollbar-width: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  place-items: center;
}

.productImg {
  width: 50%;
  border-radius: 30%;
  transition: all 0.3s;
}
.productImg:hover {
  height: auto;
  cursor: pointer;
  transform: scale(1.5);
}
