main{
    min-height: calc(100vh - 70px - 70px);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
   place-items: center;
   background-image: url('./pattern.png');
   background-repeat: repeat;
   background-size: 100%;
}
img{
    width: 80%;
    border-radius: 30%;
}
.product{
    height: 350px;
}
.product:hover{
    width: 80%;
    margin: 30px;
    cursor: pointer;
    transition: all .3s;
}
.imageWrapper{
   
}