.product-uploader {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
}

.upload-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: yellow;
  color: rgb(141, 0, 228);
  border: none;
  cursor: pointer;
  font-size: 24px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.upload-button:hover {
  transform: scale(1.3);
}

.uploaderEcho::backdrop {
  opacity: 0.7;
  background-color: black;
}

.modal-content {
  padding: 20px;
  background-color: orange;
  display: flex;
  flex-direction: column;

  flex-wrap: wrap;
  border-radius: 20px;
}

.modal-content input {
  border-radius: 20px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-actions {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.progress-bar {
  height: 10px;
  background: #eee;
  border-radius: 5px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background: #01602c;
  transition: width 0.3s ease;
}
.success-message {
  color: green;
  padding: 10px;
  background: #e6ffe6;
  border-radius: 4px;
}
