/* Основной контейнер для кнопки загрузки товаров (фиксированное позиционирование) */
.product-uploader {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
}

/* Стили кнопки загрузки */
.upload-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: yellow;
  color: rgb(141, 0, 228);
  border: none;
  cursor: pointer;
  font-size: 24px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.upload-button:hover {
  transform: scale(1.3);
}

.uploaderEcho::backdrop {
  opacity: 0.7;
  background-color: black;
}

/* Стили контейнера модального окна для формы загрузки */
.modal-content {
  padding: 20px;
  background-color: rgb(83, 83, 83);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 20px;
}

.modal-content input {
  border-radius: 20px;
}
/* Расположение элементов формы в колонку */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Расположение кнопок формы */
.form-actions {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
.success-message {
  color: green;
  padding: 10px;
  background: #e6ffe6;
  border-radius: 4px;
}
h3 {
  color: white;
}
